.collectionsCard {
  display: flex;
  width: 80%;
  flex-direction: column;
  border-radius: 25px;
  margin-bottom: 30px;
  padding: 0px;
  margin-top: 50px;
  margin: 15px;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: "Clay3";
  font-size: 36px;
  letter-spacing: 2px;
  margin: 0px;
  padding: 10px;
  color: rgb(100, 164, 100);
}

.imageContainer {
  margin: 0px;
  padding: 0px;
}
.image {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.webImage{
  display: flex;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.cardContainer {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/orange-clay-textured-background-colorful-handmade-creative-art-abstract-style.jpeg");
  background-size: contain;
  box-shadow: 2px 2px 3px black;
  align-items: center;
}

.cardDetailsContainer {

  margin: 0px;
  padding: 0px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailHeaderContainer{
  width: 100%;
  display: flex;
}

.supplyHeaderContainer {

}
.supplyHeader {
  font-family: "Clay3";
  font-size: 34px;

}
.supplySpan {
  font-family: "Clay3";
  font-size: 28px;
}
.jungleHeaderContainer {

}
.jungleHeader {
  font-family: "Clay3";
  font-size: 34px;

}
.jungleSpan {
  font-family: "Clay3";
  font-size: 28px;

}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  width: 100%;
}
.button {
  width: 40%;
  height: 50px;
  border-radius: 25px;
  background-color: yellow;
  box-shadow: 2px 2px 3px black;
  margin-bottom: 25px;
}
.button:hover{
  scale: 1.1;
}
.anchor {
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
}

.labelHeadContainer{
  display: flex;
  width: 70%;
  justify-content: center;
  margin: auto;
}

.labelContainer{
  display: flex;
  width: 30%;
  justify-content: flex-start;
  margin: auto;
}


@media (min-width: 768px) and (max-width: 1023px) {
  .collectionsCard {
    display: flex;
    width: 28%;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    padding: 0px;
    margin-top: 20px;
    margin: 15px;
    margin-bottom: 50px;
  }

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: "Clay3";
  font-size: 32px;
  letter-spacing: 2px;
  margin: 0px;
  padding: 10px;
  color: rgb(100, 164, 100);
}
.supplyHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-left: 5px;
}

.jungleHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin-left: 5px;
}

}


@media (min-width: 1024px) {
  .collectionsCard {
    display: flex;
    width: 28%;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    padding: 0px;
    margin-top: 20px;
    margin: 15px;
    margin-bottom: 50px;
  }

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: "Clay3";
  font-size: 32px;
  letter-spacing: 2px;
  margin: 0px;
  padding: 10px;
  color: rgb(100, 164, 100);
}
.supplyHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-left: 5px;
}

.jungleHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin-left: 5px;
}


}