.app {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appContainerNone {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: none;
}

.appContainerFlex {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;

}

.navDetails{
  z-index: 2;
  display: flex;
  width: 100%;
}

.navContainer {
  height: 10%;
  width: 100%;
  display: flex;
}
.navZContainer {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu{
  color: white;

  margin-left: 260px;
}

.mellowImageSection{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  padding: 0px;
  width: 100%;
  border: none;
  justify-content: center;
  background-size: cover;
  background-image: url('./images/clayjunglebackgroundKirby.webp');
}

.mellowImage{
  width: 100%;
  margin: auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.webImage{
 display: flex;
 width: 100%;
}

.logoContainer{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: flex-end;
}

.navHeader{
  font-family: 'Clay3';
  font-size: 32px;
}

.clayJungleLogo {
  width: 80px;
  border-radius: 50px;
}

.topSection {
  background-image: url("./images/clayJungleAboutBackground.png");
  background-size: cover;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(100, 164, 100);
}
.header {
  font-family: "Clay3";
  font-size: 38px;
  letter-spacing: 2px;
}
.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.aboutImageContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  background-image: url("./images/yellow-clay-textured-background-colorful-handmade-creative-art-abstract-style.jpeg");
  background-size: contain;
  width: 80%;
  border-radius: 20px;
}
.aboutImage {
  width: 100%;
  border-radius: 20px;
}
.aboutCard {
  background-color: rgb(100, 164, 100);
  background-image: url("./images/yellow-clay-textured-background-colorful-handmade-creative-art-abstract-style.jpeg");
  background-size: contain;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 30px;
}
.aboutHeaderContainer {
}
.aboutHeader {
  font-family: "Clay3";
  font-size: 48px;
  letter-spacing: 2px;
  margin-bottom: -10px;
}
.aboutDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.aboutDetails {
  font-family: "Poppins";
  font-weight: 500;
}
.collectionsSection {
  background-image: url("./images/claypeMobileBackground2.png");
  background-size: contain;
  background-color: rgba(100, 188, 93, 0.88);

}

.collectionCardsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.collectionsSectionZ {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(100, 188, 93, 0.88);
  z-index: 2;
}
.collectionsHeaderContainer {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.jungleSection {
  background-image: url("./images/orange-clay-textured-background-colorful-handmade-creative-art-abstract-style.jpeg");
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roadMapSection {
  background-image: url("./images/claypezMobileBackground.png");
  background-size: cover;
}
.roadMapSectionZ {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(115, 189, 114, 0.82);
  z-index: 2;
}
.roadMapCard1 {
  display: flex;
  width: 90%;
  justify-content: flex-start;
}
.roadMapCard2 {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}
.teamSection {
  background-image: url("./images/yellow-clay-textured-background-colorful-handmade-creative-art-abstract-style.jpeg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionHeader {
  font-family: "Clay3";
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 600;
}

.teamCardsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teamCardContainer {
  display: flex;
  width: 70%;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.landingContainerFlex {
  display: flex;
  width: 100%;
}
.landingContainerNone {
  display: none;
}

.shopSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .aboutSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
  }

  .aboutImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/yellow-clay-textured-background-colorful-handmade-creative-art-abstract-style.jpeg");
    background-size: contain;
    width: 35%;
    border-radius: 20px;
    margin: 0px;
  }
  .aboutImage {
    border-radius: 20px;
  }
  .aboutCard {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0px;
  }
  .aboutHeaderContainer {
  }
  .aboutHeader {
    font-family: "Clay3";
    font-size: 48px;
    letter-spacing: 2px;
  }
  .aboutDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .aboutDetails {
    font-family: "Poppins";
    font-weight: 500;
  }
  .collectionsSection {
    background-image: url("./images/claypeMobileBackground2.png");
    background-size: contain;

  }

  .collectionsSectionZ{
    background-color: rgba(100, 188, 93, 0.88);
    width: 100%;
    display: flex;
  }


  .collectionCardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .collectionsHeaderContainer {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
  }

  .jungleSection {
    background-image: url("./images/orange-clay-textured-background-colorful-handmade-creative-art-abstract-style.jpeg");
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .roadMapSection {
    background-image: url("./images/claypezMobileBackground.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .roadMapSectionZ {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(115, 189, 114, 0.82);
    z-index: 2;
    width: 100%;
  }
  .sectionHeader {
    font-size: 68px;
  }

  .roadMapCard1 {
    display: flex;
    width: 60%;
    justify-content: flex-start;
  }
  .roadMapCard2 {
    display: flex;
    width: 60%;
    justify-content: flex-end;
  }
  .teamSection {
    background-image: url("./images/yellow-clay-textured-background-colorful-handmade-creative-art-abstract-style.jpeg");
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sectionHeader {
    font-family: "Clay3";
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 600;
  }
  .teamCardsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .teamCardContainer {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}


@media (min-width: 1024px) {

  .aboutSection {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 70px;
  }

  .aboutImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./images/yellow-clay-textured-background-colorful-handmade-creative-art-abstract-style.jpeg");
    background-size: contain;
    width: 40%;
    border-radius: 20px;
    margin: 0px;
  }
  .aboutImage {
    border-radius: 20px;
  }
  .aboutCard {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0px;
  }
  .aboutHeaderContainer {
  }
  .aboutHeader {
    font-family: "Clay3";
    font-size: 48px;
    letter-spacing: 2px;
  }
  .aboutDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .aboutDetails {
    font-family: "Poppins";
    font-weight: 500;
  }
  .collectionsSection {
    background-image: url("./images/claypeMobileBackground2.png");
    background-size: contain;

  }

  .collectionsSectionZ{
    background-color: rgba(100, 188, 93, 0.88);
    width: 100%;
    display: flex;
  }


  .collectionCardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .collectionsHeaderContainer {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
  }

  .jungleSection {
    background-image: url("./images/orange-clay-textured-background-colorful-handmade-creative-art-abstract-style.jpeg");
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .roadMapSection {
    background-image: url("./images/claypezMobileBackground.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .roadMapSectionZ {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(115, 189, 114, 0.82);
    z-index: 2;
    width: 100%;
  }
  .sectionHeader {
    font-size: 68px;
  }

  .roadMapCard1 {
    display: flex;
    width: 60%;
    justify-content: flex-start;
  }
  .roadMapCard2 {
    display: flex;
    width: 60%;
    justify-content: flex-end;
  }
  .teamSection {
    background-image: url("./images/yellow-clay-textured-background-colorful-handmade-creative-art-abstract-style.jpeg");
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sectionHeader {
    font-family: "Clay3";
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 600;
  }
  .teamCardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .teamCardContainer {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
